body{
    padding: 0;
    margin: 0;
}

header{
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    padding: 0;
    margin: 0;
}

#header-logo{
    width: 20%;
    height: 20%;
    padding: 60px 0px 10px 20px;
}

main{
    padding: 10px 0px 10px 20px;
}

h1{
    font-size: 70px;
    margin: 5px;
}

.subtitle{
    font-size: 30px;
    margin: 5px;
    color: #808080;
}

.author{
    color: #4EA0FF;
}

.img-1{
    margin-top: 20px;
    width: 60%;
}

.img-2{
    width: 55%;
}

.description{
    font-size: 20px;
}

.article{
    font-size: 25px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

thead{
    background-color: #4EA0FF;
    text-align: left;
    color: #fff;
}

td{
    padding: 0;
}

.long-td{
    width: 50%;
}

.colored-tr{
    background-color: #B1E5F2;
}

.highlight{
    background-color: yellow;
}
